html,
    body,
    #Map {
      height: 100%;
    }

    /* General Toggle Properites */
    .toggle {
      right: 20px;
      position: absolute;
      z-index: 99;
      background-color: white;
      border-radius: 8px;
      padding: 10px;
      opacity: 0.75;
    }

    /* Properties specific to each toggle */
    #layerToggle {
        top: 20px;
    }

    #legendToggle {
      top: 70px;
    }
    
    /* Map styling */
    #viewDiv {
      height: 90%;
      width: 100%;
      position: relative;
    }

   /* Font styling */
   h1, h2, h3, h4, h5 h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px;
   }

   h1{
    margin-top: 25%;
    font-size: 55px;
  }

   body {
     font-family: 'Lato', 'Arial';
     overflow-x: hidden;
   }

   #opening_container {
     text-align: center;
   }

   /* Padding for Intro section */
   #intro_body {
     padding-top: 40px;
     padding-bottom: 80px;
   }
   
   /* General Section Style */
   section {
     display: block;
     width: 100%;
     margin-top: 30px;
     margin-bottom: 30px;
     position: relative;
   }

   /* Style for floating sensebox image */
   #sensebox {
    width: 50%;
    position: absolute;
    right: -25%;
    top: 0;
    transition: all .2s ease-in-out;

   }

   /* Zoom Sensebox image on hover */
   #sensebox:hover{
    transform: scale(1.1);
   }
